[Unit]
Description=aria_bili_recorder
Documentation=https://github.com/shinnenijou/VTB-Recorder
After=network.target
Wants=network.target

[Service]
WorkingDirectory=/PATH_TO_RECORDER
ExecStart=/PATH_TO_RECORDER/bili_record.py aria
Restart=on-abnormal
RestartSec=5s
KillMode=mixed

StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target