[Unit]
Description=aria_bili_recorder
Documentation=https://github.com/shinnenijou/VTB-Recorder
After=network.target
Wants=network.target

[Service]
WorkingDirectory=/home/VTB-Recorder
ExecStart=/home/VTB-Recorder/bili_record.py
ExecStartPost=aria
Restart=on-abnormal
RestartSec=5s
KillMode=mixed

StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target