[Unit]
Description=mitagun_tc_recorder
Documentation=https://github.com/shinnenijou/VTB-Recorder
After=network.target
Wants=network.target

[Service]
WorkingDirectory=/home/VTB-Recorder
ExecStart=/home/VTB-Recorder/tc_record.py mitagun
Restart=on-abnormal
RestartSec=5s
KillMode=mixed

StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target