[Unit]
Description=record_uploader
Documentation=https://github.com/shinnenijou/VTB-Recorder
After=network.target
Wants=network.target

[Service]
WorkingDirectory=/PATH_TO_RECORDER
ExecStart=/PATH_TO_RECORDER/systemd_service_upload.py
Restart=on-abnormal
RestartSec=5s
KillMode=mixed

StandardOutput=file:/PATH_TO_LOG/sysoutputs
StandardError=file:/PATH_TO_LOG/syserrors

[Install]
WantedBy=multi-user.target