[Unit]
Description=record_uploader
Documentation=https://github.com/shinnenijou/VTB-Recorder
After=network.target
Wants=network.target

[Service]
WorkingDirectory=/PATH_TO_RECORDER
ExecStart=/PATH_TO_RECORDER/upload.py
Restart=on-abnormal
RestartSec=5s
KillMode=mixed

StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target